<div class="row">
    <div class="col-xl-3">
        <%=user.name%>
    </div>
    <div class="col-xl-3">
        <%=user.email%>
    </div>
    <div class="col-xl-3">
        <%=user.phone%>
    </div>
    <div id="<%= dom_id user %>">
    </div>
</div>

<% if user.tickets.any? %>
    

<div class="row">
    <div class="col-xl-12">
        
        Tickets: 
        <ul>
            <%user.tickets.each do |ticket|%>
                <li><%=ticket.id%></li>
            <%end%>
        </ul>
    </div>
</div>

<% else %>
    No tiene boletas todavía
<% end %>

